1. What are data structures,and why are they important?

-  Data structures are specialized formats for organizing, storing, and accessing collections of data.They provide efficient way to manage information based.

   why it is important.
   choosing the right data structure significantly impact the efficiency and performance of your program.
   
   - well-chosen data structure can:
   - simplify data manipulation(adding,removing,modifying elements)
   - optimize searching and storing opreations
   - conserve memory usage.


2. Explain the difference between mutable and immutable data types with examples?

 - Data types in Python are categorized into mutable and immutable data types. Mutable data types are those whose values can be changed, whereas immutable data types are ones in which the values can’t be changed. In this article, we will discuss the difference between mutable and immutable in Python.

 Python data type is categorized into two types:

 Mutable Data Type – A mutable data type is one whose values can be changed.
Example: List, Dictionaries, and Set
Immutable Data Type – An immutable data type is one in which the values can’t be changed or altered.
Example: String and Tuples.

3. What are main differences between lists and tuples in python?

 - In Python, lists and tuples both store collections of data, but differ in mutability, performance and memory usage. Lists are mutable, allowing modifications, and we can add anything in the list. while tuples are immutable. Choosing between them depends on whether you need to modify the data or prioritize performance and memory efficiency and we can not change anything in the tuples.


 4. Describe how dictionaries store data?  

  - Dictionary is a data structure that stores data as key:value pairs and keys are unique and immutable.Dictionaries are unordered but form python 3.7 version, dictionaries retain the order of insertion. This means that if you iterate over a dictionary, the items will be returnet in the order they were added.


5. why might you use a set instead of a list in python?


  -  Sets inherently store only unique elements. If you need a collection where duplicate values are automatically removed, a set is the ideal choice. Lists, conversely, allow and maintain duplicate elements.


 6. what is a string in python , and how is it different from a list?

  - In Python, a list is a collection of items that can be of any data type and can be modified (mutable). Lists are represented by square brackets and can contain multiple elements separated by commas. On the other hand, a string is a sequence of characters enclosed in single or double quotes. Strings are immutable, meaning their values cannot be changed once they are created. While both lists and strings can be accessed using indexing and slicing, lists provide more flexibility as they can be modified, appended, or extended, while strings cannot be altered after creation. '

7. How do tuples ensure data integrity in python?

 - Tuples in Python ensure data integrity primarily through their immutability. This means that once a tuple is created, its elements cannot be changed, added, or removed. This characteristic provides several mechanisms for ensuring data integrity.

8. What is a hash table,how does it relate to dictionaries in python?

 - A hash table is a data structure that stores key-value pairs, allowing for efficient retrieval of values based on their associated keys. It achieves this efficiency by using a hash function to map keys to numerical indices (or "hash values") within an underlying array or table. When a key-value pair is inserted, the hash function determines where in the table the value should be stored. When a value needs to be retrieved, the same hash function is applied to the key to quickly locate its corresponding value.


 9. can lists contain different data types in python?

  - Yes, lists in Python can contain elements of different data types. This characteristic makes Python lists highly versatile and flexible. and we can store any data type in lists. Ex- Integers,floats,booleans,strings and also we can store tuples and dictionaries in lists.


 10. Explain why strings are immutable in python?

  -    Strings are immutable in Python, meaning their content cannot be changed after they are created. Any operation that appears to modify a string actually results in the creation of a new string object with the desired changes, while the original string remains untouched in memory.

11. What advantages do dictionaries offer over lists for certain tasks?

 - Dictionaries and lists are two fundamental data structures in Python, each with its unique strengths and weaknesses. Dictionaries excel in scenarios requiring fast lookups, key-value associations, and complex data mappings, while lists are ideal for ordered collections, sequential processing, and simple data storage.

12. Describe a scenario where using a tuple would be preferable over a list?

 - Tuples are used when we need to store, retrieve, and use data often but don't need to change it. Data Representation- If you want to represent collections with each element having a specific meaning, tuples are a better choice. Immutable Data- As tuples are immutable, their contents can't be changed once created.

13. How  do sets handle duplicate values in python?

 - Python sets fundamentally do not allow duplicate values. They are designed to store unique elements. When an attempt is made to add a duplicate value to a set, the set automatically ignores the addition, ensuring that only one instance of that value exists within the set.

14. How does the "in" keyword work differently for lists and dictionaries?

 - The key of the dictionary is a unique value as well as the set. Itreate over only keys for key in shows the perticular keys,valuse and items and the other side. Python keywords list is 'in', which tests if a sequence contains a value. It returns True if a value is present; else, it returns False. The 'in' keyword also loops through the sequence.

15. Can you modify the elements of a tuple? Explain why or why not.

 - No, you cannot directly modify the elements of a tuple in Python. Tuples are immutable, meaning their contents cannot be changed after creation. This immutability is a core characteristic of tuples.

     Why tuples are immutable

     Immutability allows for more efficient memory management, as the size and content of a tuple are fixed at creation.

16. What is a nested dictionary, and give an example of its use case?

 - A nested dictionary in Python is a dictionary where the values are themselves dictionaries. This allows you to create hierarchical or multi-level data structures, where each dictionary can contain other dictionaries as its values.
  Example given below.

In [ ]:
myfamily = {"child1" : { "name" : "Emil", "year" : 2004},
  "child2" : {"name" : "Tobias","year" : 2007 },
  "child3" : { "name" : "Linus", "year" : 2011 }
}

In [ ]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

17. Describe the time complexity of accessing elements in a dictionary?

 - Python dictionaries provide a fast and efficient way to store and retrieve data using key value pair so understanding the time complexities of dictionary operations is very important for optimizing performance in our programs.The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup.

18. In what situations are lists preferred over  dictionaries?

 - For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

 - Why dictionaries are unordered collection: Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order, as simple as that.

20. Explain the difference between a list and a dictionary in term of data retrieval?

 - A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.     





                                   **PRACTICAL QUESTIONS**

1. Write a code to create a string whit your name and print it.

In [ ]:
String1 = ("Vineet Verma")
String1

'Vineet Verma'

In [ ]:
type(String1)

str

2. Write a code to find the length of the string "Hello World".

In [ ]:
str = "Hello World"
str

'Hello World'

In [ ]:
len(str)

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
str = "Python Programming"
str

'Python Programming'

In [ ]:
str[0:3]

'Pyt'

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
str = "hello"
str

'hello'

In [ ]:
str.upper()

'HELLO'

5. write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
S = "I like apple"
S

'I like apple'

In [ ]:
S.replace("apple", "orange")

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
my_list = [1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

In [ ]:
type(my_list)

list

7. Write a code to append the number 10 to the list.

In [ ]:
my_list = [1,2,3,4]
my_list

[1, 2, 3, 4]

In [ ]:
my_list.append(10)

In [ ]:
my_list

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1,2,3,4,5].

In [ ]:
number = [1,2,3,4,5]
number

[1, 2, 3, 4, 5]

In [ ]:
number.remove(3)

In [ ]:
number

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a','b','c','d'].

In [ ]:
alphabet = ['a','b','c','d']

In [ ]:
alphabet

['a', 'b', 'c', 'd']

In [ ]:
alphabet[1]

'b'

10. Write a code to reverse the list [10,20,30,40,50].

In [ ]:
number = [10,20,30,40,50]
number

[10, 20, 30, 40, 50]

In [ ]:
number.reverse()

In [ ]:
number

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100,200,300 and print it.

In [2]:
t = (100,200,300)
t

(100, 200, 300)

In [3]:
type(t)

tuple

12. write a code to access the second-to-last element of the tuple ('red','green','blue','yellow').

In [5]:
t = ('red','green','blue','yellow')
t

('red', 'green', 'blue', 'yellow')

In [6]:
t[1:4]

('green', 'blue', 'yellow')

13.Write a code to find the minimum number in the tuple(10,20,5,15).

In [9]:
t1 = (10,20,5,15)
t1

(10, 20, 5, 15)

In [10]:
min(t1)

5

14.Write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit').

In [11]:
tuple1 = ('dog','cat','rabbit')
tuple1

('dog', 'cat', 'rabbit')

In [12]:
tuple1.index("cat")

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [13]:
tuple2 = ("mango","banana","kiwi")
tuple2

('mango', 'banana', 'kiwi')

16. Write a code to create a set with the elements 'a','b','c' and print it.

In [14]:
set1 = {'a','b','c'}
set1

{'a', 'b', 'c'}

In [15]:
type(set1)

set

17. Write a code to clear all elements from the set{1,2,3,4,5}.

In [16]:
set1 = {1,2,3,4,5}
set1

{1, 2, 3, 4, 5}

In [19]:
set1.clear()
set1

set()

18. Write a code to remove the element 4 from the set {1,2,3,4}.

In [20]:
set1 = {1,2,3,4}
set1

{1, 2, 3, 4}

In [32]:
set1.remove(4)

KeyError: 4

In [34]:
set1

{1, 2, 3}

19. Write a code to find the union of two sets {1,2,3} and {3,4,5}.

In [1]:
s1 = {1,2,3}
s2 = {3,4,5}

In [2]:
s1

{1, 2, 3}

In [3]:
s2

{3, 4, 5}

In [4]:
s1|s2

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1,2,3} and {2,3,4}.

In [5]:
s1 = {1,2,3}
s2 = {2,3,4}

In [6]:
s1

{1, 2, 3}

In [7]:
s2

{2, 3, 4}

In [8]:
s1 & s2

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city" and print it.

In [9]:
d = {"name":"Vineet verma", "age":"23", "city":"Gwalior"}

In [10]:
d

{'name': 'Vineet verma', 'age': '23', 'city': 'Gwalior'}

22. Write a code to add a new key-value pair "country":"USA" to the dictionary {'name':'Jhon','age':25}.

In [15]:
d1 = {"name":"Jhon", "age":"25"}
d1

{'name': 'Jhon', 'age': '25'}

In [16]:
d1["country"] = "USA"

In [17]:
d1

{'name': 'Jhon', 'age': '25', 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name':'Alice', 'age':30}

In [18]:
d = {'name':'Alice', 'age':30}
d

{'name': 'Alice', 'age': 30}

In [19]:
d.keys()

dict_keys(['name', 'age'])

In [21]:
d.values()

dict_values(['Alice', 30])

24. Write a code to remove the key "age" from the dictionary {'name':'Bob', 'age':22, 'city':'New York'}.

In [22]:
d = {'name':'Bob', 'age':22, 'city':'New york'}
d

{'name': 'Bob', 'age': 22, 'city': 'New york'}

In [23]:
del d["age"]

In [24]:
d

{'name': 'Bob', 'city': 'New york'}

25. Write a code to check if the key "city" exists in the dictionary {'name':'Alice', 'city':'Paris'}.

In [25]:
d = {'name':'Alice', 'city':'Paris'}
d

{'name': 'Alice', 'city': 'Paris'}

In [26]:
if 'city' in d:
    print("The key 'city' Exists in dictionart")
else:
    print("The key 'city' does not exists in the dictionary")

The key 'city' Exists in dictionart

26. Write a code to create a list, a tuple and a dictionary,and print them all.

In [27]:
my_list = ["New york", "Paris", "London"]
tuple1 = ("America", "Chicago", "Amsterdam")
my_dict = {"name":"Vineet", "age":23, "country": "india"}

In [28]:
my_list

['New york', 'Paris', 'London']

In [29]:
tuple1

('America', 'Chicago', 'Amsterdam')

In [30]:
my_dict

{'name': 'Vineet', 'age': 23, 'country': 'india'}

27. Write a code to create a list of 5 random numbers between 1 to 100, sort it in ascending order, and print the result.

In [33]:
number = [30,7,89,99,59]
number

[30, 7, 89, 99, 59]

In [34]:
sorted(number)

[7, 30, 59, 89, 99]

28.Write a code to create a list with strings and print the element at the third index.

In [36]:
my_list = ["apple","banana","cherry","date","cranberry"]
my_list

['apple', 'banana', 'cherry', 'date', 'cranberry']

In [38]:
my_list.index("date")

3

29. Write a code to combine two dictionaries into one and print the result.

In [39]:
dict1 = {'a': 1, 'b':2}
dict2 = {'c': 3, 'd':4}

In [40]:
combined_dict = {**dict1, **dict2}
print("combined dictionary:", combined_dict)

combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}